<% stylesheet_link_tag "login"%>

<div class="container aligncontent-center" style="width: 500px; flex-direction:cloumn;" >
  <h2 style='padding:5% 10%'>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class=> 'container aligncontent-centerr') do |f| %>
    <div class="form-control-lg">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Username' %>
    </div>

    <div class="form-control-lg">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', :class=>' class="form-control-lg"' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-control-lg rememberable">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="form-control-lg align-content-center">
      <%= f.submit "Log in", :class=>'btn btn-success lg' %>
    </div>
  <% end %>

</div>
